<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stargazer.springapplicationtemplate.repositories.IUserRepository">

  <insert id="insert" parameterType="com.stargazer.springapplicationtemplate.entities.User">
    INSERT INTO `user` 
    (`id`, `name`, `nickName`, `email`, `phoneNumber`, `creatorId`, `creationTime`, `lastModifierId`, `lastModificationTime`) 
    VALUES 
    (#{id},#{name},#{nickName},#{email},#{phoneNumber},#{creatorId},#{creationTime},#{lastModifierId},#{lastModificationTime})
  </insert>

  <update id="update" parameterType="com.stargazer.springapplicationtemplate.entities.User">
    UPDATE `user` SET 
    `name` = #{name}, `nickName` = #{nickName}, `email` = #{email}, `phoneNumber` = #{phoneNumber}, `lastModifierId` = #{lastModifierId}, `lastModificationTime` = #{lastModificationTime} 
    WHERE `id` = #{id}
  </update>

  <update id="updateAvatar" parameterType="com.stargazer.springapplicationtemplate.entities.User">
    UPDATE `user` SET 
    `avatar` = #{avatar}, `lastModifierId` = #{lastModifierId}, `lastModificationTime` = #{lastModificationTime} 
    WHERE `id` = #{id}
  </update>

  <update id="updateEmailVerified" parameterType="com.stargazer.springapplicationtemplate.entities.User">
    UPDATE `user` SET 
    `emailVerified` = #{emailVerified}, `lastModifierId` = #{lastModifierId}, `lastModificationTime` = #{lastModificationTime} 
    WHERE `id` = #{id}
  </update>

  <update id="updatePhoneNumbertVerified" parameterType="com.stargazer.springapplicationtemplate.entities.User">
    UPDATE `user` SET 
    `phoneNumbertVerified` = #{phoneNumbertVerified}, `lastModifierId` = #{lastModifierId}, `lastModificationTime` = #{lastModificationTime} 
    WHERE `id` = #{id}
  </update>

</mapper>